@model Reservuary.Models.Podpisanty

<div class="modal-header" style="text-align: center;background-color: #D0EDFE; border-radius:5px;">
    <h5> Добавление члена комиссии</h5>
</div>
<div class="modal-body">

    <label>Филиал</label>
    
    @Html.DropDownList("location", ViewBag.komis as SelectList, "Выберите филиал", new { @class = "form-control btn-block", id = "komis" })

    <label>Назначение</label>
    <select id="Nazn" class="form-control btn-block">
        <option>Председатель комиссии</option>
        <option>Член комиссии</option>
        <option>МОЛ</option>
    </select>

    <label>Должность</label>
    <input type="text" class="form-control btn-block" id="Doljnost"/>

    <label>ФИО</label>
    <input type="text" class="form-control btn-block" id="FIO"/>
</div>
<div class="modal-footer" style="text-align:center">
    <button type="submit" class="btn btn-info" style="min-width:100px" onclick="KomissiyaSave(0)">Сохранить</button>
    <button type="button" class="btn btn-default" data-dismiss="modal" style="min-width:100px">Отмена</button>
</div>




